# Ignore dependencies and cache
node_modules
.expo
dist
web-build
.eas

# Ignore version control and IDE
.git
.github
.idea
.vscode

# Ignore temporary and documentation files
*.md
*.sql
*.log
*.html
api/
public/
scripts/

# Ignore unused legacy tarballs
amogamobileds-v1-1.0.4.tgz
